<html>
<head>
		<meta charset="utf-8" />
		<title>JResto Soft</title>

		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="{$host}__assets/css/bootstrap.min.css" rel="stylesheet" />
		<link href="{$host}__assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="{$host}__assets/css/font-awesome.min.css" />
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
		<link rel="stylesheet" href="{$host}__assets/css/ace.min.css" />
		<link rel="stylesheet" href="{$host}__assets/css/ace-responsive.min.css" />
		<link rel="stylesheet" href="{$host}__assets/css/ace-skins.min.css" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="{$host}__assets/plugin/easyui/theme/gray/easyui.css" />
		<link rel="stylesheet" href="{$host}__assets/plugin/easyui/theme/icon.css" />
		<link rel="stylesheet" href="{$host}__assets/plugin/easyui/theme/color.css" />
		<link rel="stylesheet" href="{$host}__assets/css/main_style.css" />
		
		<script src="{$host}__assets/plugin/tinymce/js/tinymce/tinymce.min.js"></script>
	</head>
<body>
<div style="padding:30px;">
	<fieldset>
		<legend>Form Registrasi</legend>
			<div class="span12">
				<p>TERIMA KASIH SUDAH MELAKUKAN REGISTRASI DI JINGGA RESTO APLIKASI <br>
					SILAHKAN LOGIN DENGAN AKUN ANDA<br>
					SALAM SUKSES JINGGA.
				</p>
				<a href="{$host}login">Login</a>
			</div>
	</fieldset>
</div>
	<script src="{$host}__assets/js/jquery.min.js"></script>
	<script src="{$host}__assets/js/bootstrap.min.js"></script>
	<script src="{$host}__assets/js/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="{$host}__assets/js/jquery.ui.touch-punch.min.js"></script>
	<script src="{$host}__assets/js/jquery.slimscroll.min.js"></script>
	<script src="{$host}__assets/js/ace-elements.min.js"></script>
	<script src="{$host}__assets/js/ace.min.js"></script>
	<script src="{$host}__assets/plugin/easyui/jquery.easyui.min.js"></script>
	<script src="{$host}__assets/js/fungsi.js"></script>
	<script src="{$host}__assets/js/markdown/markdown.min.js"></script>
	<script src="{$host}__assets/js/markdown/bootstrap-markdown.min.js"></script>
	<script src="{$host}__assets/js/jquery.hotkeys.min.js"></script>
</body>
</html>
