<html>
<head>
		<meta charset="utf-8" />
		<title>JResto Soft</title>

		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="{$host}__assets/css/bootstrap.min.css" rel="stylesheet" />
		<link href="{$host}__assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="{$host}__assets/css/font-awesome.min.css" />
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
		<link rel="stylesheet" href="{$host}__assets/css/ace.min.css" />
		<link rel="stylesheet" href="{$host}__assets/css/ace-responsive.min.css" />
		<link rel="stylesheet" href="{$host}__assets/css/ace-skins.min.css" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="{$host}__assets/plugin/easyui/theme/gray/easyui.css" />
		<link rel="stylesheet" href="{$host}__assets/plugin/easyui/theme/icon.css" />
		<link rel="stylesheet" href="{$host}__assets/plugin/easyui/theme/color.css" />
		<link rel="stylesheet" href="{$host}__assets/css/main_style.css" />
		
		<script src="{$host}__assets/plugin/tinymce/js/tinymce/tinymce.min.js"></script>
	</head>
<body>
<div style="padding:30px;">
	<fieldset>
		
			<legend>Form Registrasi</legend>
			<div class="span12">
				<form class="form-horizontal" id="form_reg" url="{$host}Registrasi" method="post" enctype="multipart/form-data">
					<div class="span7">
						<div class="row" id="pwd-container">
						{include file="template/input_form.html" type='text' label="Email" id="email" name="email" class="validasi_email" style="height:30px;width:100%;"}
						{*{include file="template/input_form.html" type='text' label="UserName" id="nama_user" name="nama_user" class="validasi" style="height:30px;"}*}
						{include file="template/input_form.html" type='pwd' label="Password" id="password" name="password" class="validasi" style="height:30px;width:50%;" msg="Y"}
						{include file="template/input_form.html" type='pwd' label="Ulangi Password" id="password2" name="password2" class="validasi" style="height:30px;width:50%;"}
						{include file="template/input_form.html" type='text' label="Nama Lengkap" id="nama_lengkap" name="nama_lengkap" class="validasi" style="height:30px;width:100%;"}
						{include file="template/input_form.html" type='text' label="Brand Resto" id="brand" name="brand" class="validasi" style="height:30px;width:100%;"}
						{include file="template/input_form.html" type='text' label="Jml. Outlet" id="jml_outlet" name="jml_outlet" class="validasi angka" style="height:30px;width:10%;"}
						{include file="template/input_form.html" type='select' label="Jenis Kelamin" id="jenis_kelamin" name="jenis_kelamin" option={$opt|default:''} }
						{include file="template/input_form.html" type='textarea' label="Alamat" id="alamat" name="alamat" class="validasi" style="width:100%;"}
						{include file="template/input_form.html" type='text' label="Telp." id="tlp" name="tlp" class="validasi" style="height:30px;width:70%;"}
						<div class="control-group">
							<label class="control-label" for="form-field-1"></label>
							<div class="controls">
								{include file="template/button_save.html" id_simpan="register" id_batal="batal" text_simpan="Daftar" text_batal="Kembali" }
							</div>
						</div>	
						</div>	
					</div>	
					<div class="span4">
						<fieldset>
							<h2>PROMO PENDAFTARAN :</h2>
							<p>Dapatkan Promo Menarik dari kami <br>
								<ol>
									<li>
										Dengan Registrasi Lebih Dari Satu Outlet, Maka Anda akan mendapatkan gratis biaya administrasi 1 Outlet
									</li>
									<li>
										Jika Registrasi Satu Outlet Maka Anda akan mendapatkan gratis selama 6 bulan 
									</li>
								</ol>
								Cepat Daftarkan Resto Anda, masih banyak promo lainnya.<br><br><br><br>
								Terima Kasih.Salam Sukses.<br><br>
								<a href="http://jingga.co.id">Jingga.co.id</a>
							</p>
						</fieldset>
					</div>
				</form>
			</div>

	</fieldset>
</div>
	<script src="{$host}__assets/js/jquery.min.js"></script>
	<script src="{$host}__assets/js/bootstrap.min.js"></script>
	<script src="{$host}__assets/js/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="{$host}__assets/js/jquery.ui.touch-punch.min.js"></script>
	<script src="{$host}__assets/js/jquery.slimscroll.min.js"></script>
	<script src="{$host}__assets/js/ace-elements.min.js"></script>
	<script src="{$host}__assets/js/ace.min.js"></script>
	<script src="{$host}__assets/plugin/easyui/jquery.easyui.min.js"></script>
	<script src="{$host}__assets/js/fungsi.js"></script>
	<script src="{$host}__assets/js/markdown/markdown.min.js"></script>
	<script src="{$host}__assets/js/markdown/bootstrap-markdown.min.js"></script>
	<script src="{$host}__assets/js/jquery.hotkeys.min.js"></script>
	<script type="text/javascript" src="{$host}__assets/js/zxcvbn.js"></script>
    <script type="text/javascript" src="{$host}__assets/js/pwstrength.js"></script>
    <script type="text/javascript" src="{$host}__assets/js/i18next.js"></script>
</body>
</html>
<script>
	$(document).ready(function(){
		var msg;
		var mode_tranport;
		$(".validasi").validatebox({ required:true }); 
		$(".angka").numberbox(); 
		$(".validasi_email").validatebox({ required:true,validType: 'email' }); 
		
		var options = {};
            options.ui = {
                container: "#pwd-container",
                showVerdictsInsideProgressBar: true,
                viewports: {
                    progress: ".pwstrength_viewport_progress"
                },
                showErrors: true
            };
            options.common = {
                debug: true,
                onLoad: function () {
                   // $('#messages').html(i18next.t('start'));
                }
            };
            $('#password_{$acak}').pwstrength(options);

            $('.container').find('label').html(i18next.t('label')).end()
                           .find('h1').html(i18next.t('pageTitle')).end()
                           .find('a').html(i18next.t('goBack'));
      //  });
		
		
	});
	$('#register').bind('click', function(){
		if ($('#form_reg').form('validate')){
			var listItems = $(".error-list").children();
			var count = listItems.length;
			console.log(count);
			var pwd=$('#password_{$acak}').val();
			if(count < 1){
				if(pwd==$('#password2_{$acak}').val()){
					$.post('{$host}CekUser',{ email:$('#email_{$acak}').val() },function(resp){
						if(resp==1){
							submit_form('form_reg',function(r){
								if(r==1){
									//$.messager.alert('JResto Soft',"Data Tersimpan",'info');
									window.location.href='{$host}Notifikasi/'+btoa($('#email_{$acak}').val());
								}
								else{
									$.messager.alert('JResto Soft', "Gagal", 'error');
									console.log(r);
								}
							});
						}
						else{
							$.messager.alert('JResto Soft',"User Email Sudah Terdaftar",'info');
						}
					});
					
				}
				else{
					$.messager.alert('JResto Soft',"Ulangi Password tidak sama",'info');
				}
			}
			else{
				$.messager.alert('JResto Soft',"Perhatikan Pesan Password",'info');
			}
		}else{
			$.messager.alert('JResto Soft',"Isi Data Yang Kosong",'info');
		}
	});
	$('#batal').click(function(){
	});	
</script>