<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>JResto Soft</title>
  <link href="" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="{$host}__assets/css/style-login.css" media="screen" type="text/css" />
</head>
<body>
	<br/>
	<center><img src='{$host}__assets/img/logo.png' width='280px' style='margin-left:-5px;'></center>
	<div class="login-card">
		<form name='frmLogin' action="{$host}login" method="post">
			<input type="text" name="user" placeholder="Username Atau Email">
			<input type="password" name="pwd" placeholder="Password">
			<input type="submit" id="login" class="login login-submit" value="Login">
			
		</form>
		<center><a id="reg" href="{$host}Daftar" target="_blank">Reegistrasi</a></center><br>
		<div class="login-help">
			JResto Soft &copy; CV. Jingga Sinergi Idea
		</div>
		{if isset($error)}
            <div style="text-align:center;margin-top:30px">
				<span style="color:red;"><b><i>{$error}</i></b></span>
			</div>
		{/if}	
	</div>
</body>
</html>