<div  class="sidebar fixed" id="sidebar">
	<ul class="nav nav-list">
		<li>
			<a href="javascript:void(0);" onclick="loadUrl('{$host}backend/getdisplay');$('#judul_kecil').html('Beranda')">
				<i class="icon-home"></i>
				<span class="menu-text">Beranda</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);" onclick="loadUrl('{$host}backend/modul/produk/main');$('#judul_kecil').html('Produk')">
				<i class="icon-shopping-cart"></i>
				<span class="menu-text">Produk</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);"  class="dropdown-toggle" >
				<i class="icon-laptop"></i>
				<span class="menu-text"> Inventori </span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}backend/modul/supplier/main');$('#judul_kecil').html('Supplier')">
						<i class="icon-double-angle-right"></i>
						Supplier
					</a>
				</li>

				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}backend/modul/pembelian/main');$('#judul_kecil').html('Pembelian')">
						<i class="icon-double-angle-right"></i>
						Pembelian
					</a>
				</li>

				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}backend/modul/transfer_stok/main');$('#judul_kecil').html('Transfer Stok')">
						<i class="icon-double-angle-right"></i>
						Transfer Stok
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="javascript:void(0);"  class="dropdown-toggle" >
				<i class="icon-hdd"></i>
				<span class="menu-text"> Master </span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}backend/modul/outlet/main');$('#judul_kecil').html('Gerai / Outlet')">
						<i class="icon-double-angle-right"></i>
						Gerai / Outlet
					</a>
				</li>

				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}backend/modul/kasir/main');$('#judul_kecil').html('Perangkat Kasir')">
						<i class="icon-double-angle-right"></i>
						Perangkat Kasir
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}backend/modul/pelanggan/main');$('#judul_kecil').html('Pelanggan')">
						<i class="icon-double-angle-right"></i>
						Pelanggan
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}backend/modul/kategori_produk/main');$('#judul_kecil').html('Kategori Produk')">
						<i class="icon-double-angle-right"></i>
						Kategori Produk
					</a>
				</li>
			</ul>
		</li>
		
		<li>
			<a href="javascript:void(0);" onclick="loadUrl('{$host}backend/modul/promo/main');$('#judul_kecil').html('Promo')" >
				<i class="icon-certificate"></i>
				<span class="menu-text">Promo</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);" onclick="loadUrl('{$host}backend/getdisplay');$('#judul_kecil').html('Laporan')">
				<i class="icon-book"></i>
				<span class="menu-text">Laporan</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);"  class="dropdown-toggle" >
				<i class="icon-cogs"></i>
				<span class="menu-text"> Konfigurasi </span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}backend/modul/kategori_produk/main');$('#judul_kecil').html('Kategori Produk')">
						<i class="icon-double-angle-right"></i>
						Setting Aplikasi
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}backend/getdisplay');$('#judul_kecil').html('User Manajemen')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">User Manajemen</span>
					</a>
				</li>
			</ul>
		</li>
	</ul><!--/.nav-list-->

	<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left"></i>
	</div>
</div>