<div  class="sidebar fixed" id="sidebar">
	<ul class="nav nav-list">
		<li>
			<a href="javascript:void(0);" onclick="loadUrl('{$host}backend/modul/berita/main');$('#judul_kecil').html('Berita')">
				<i class="icon-comments-alt"></i>
				<span class="menu-text">Berita</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);" onclick="loadUrl('{$host}backend/modul/product/main');$('#judul_kecil').html('Product')">
				<i class="icon-shopping-cart"></i>
				<span class="menu-text">Product</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);" onclick="loadUrl('{$host}backend/modul/services/main');$('#judul_kecil').html('Services')" >
				<i class="icon-certificate"></i>
				<span class="menu-text">Services</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);" onclick="loadUrl('{$host}backend/modul/reservasi/main');$('#judul_kecil').html('Reservasi')">
				<i class="icon-group"></i>
				<span class="menu-text">Reservasi</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);" onclick="loadUrl('{$host}backend/modul/gallery/main');$('#judul_kecil').html('Gallery')">
				<i class="icon-camera"></i>
				<span class="menu-text">Gallery</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);" onclick="loadUrl('{$host}backend/modul/testimony/main');$('#judul_kecil').html('Testimony')">
				<i class="icon-comment-alt"></i>
				<span class="menu-text">Testimony</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);"  class="dropdown-toggle" >
				<i class="icon-desktop"></i>
				<span class="menu-text"> Referensi </span>
				<b class="arrow icon-angle-down"></b>
			</a>

			<ul class="submenu">
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}backend/modul/kota/main');$('#judul_kecil').html('Kota')">
						<i class="icon-double-angle-right"></i>
						Kota
					</a>
				</li>

				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}backend/modul/lokasi/main');$('#judul_kecil').html('Lokasi')">
						<i class="icon-double-angle-right"></i>
						Lokasi &amp; Icons
					</a>
				</li>

				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}backend/modul/product_type/main');$('#judul_kecil').html('Type Product')">
						<i class="icon-double-angle-right"></i>
						Type Product
					</a>
				</li>

				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}backend/modul/user/main');$('#judul_kecil').html('User Management')">
						<i class="icon-double-angle-right"></i>
						User
					</a>
				</li>
			</ul>
		</li>
		
	</ul><!--/.nav-list-->

	<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left"></i>
	</div>
</div>