<fieldset>
	<legend>Form Perangkat Kasir</legend>
<div class="span12">
	<form class="form-horizontal" id="form_supplier" url="{$host}backend/simpan_data/tbl_{$main}" method="post" enctype="multipart/form-data">
		<input type="hidden" name="id" value="{$data.id|default:''}">
		<input type="hidden" name="sts_crud" value="{$sts_crud|default:'add'}">
		
		{include file="template/input_form.html" type='text' label="Nama Perangkat" id="nama_perangkat" name="nama_perangkat" value="{$data.nama_perangkat|default:''}" }
		{include file="template/input_form.html" type='text' label="ID Perangkat" id="id_perangkat" name="id_perangkat" value="{$data.id_perangkat|default:''}"  read="readonly"}
		{include file="template/input_form.html" type='select' label="Gerai / Outlet" id="tbl_outlet_id" name="tbl_outlet_id" option={$combo_outlet|default:''} }
		
		<div class="control-group">
			<label class="control-label" for="form-field-1"></label>
			<div class="controls">
				{include file="template/button_save.html" id_simpan="simpan_{$main}" id_batal="batal_{$main}" }
			</div>
		</div>			
	</form>
</div>