<fieldset>
	<legend>Form Outlet</legend>
<div class="span12">
	<form class="form-horizontal" id="form_supplier" url="{$host}backend/simpan_data/tbl_{$main}" method="post" enctype="multipart/form-data">
		<input type="hidden" name="id" value="{$data.id|default:''}">
		<input type="hidden" name="sts_crud" value="{$sts_crud|default:'add'}">
		
		{include file="template/input_form.html" type='text' label="Nama Outlet" id="nama_outlet" name="nama_outlet" value="{$data.nama_outlet|default:''}" }
		{include file="template/input_form.html" type='text' label="Kota" id="kota" name="kota" value="{$data.kota|default:''}" }
		<div class="control-group">
			<label class="control-label" for="form-field-1">Alamat Outlet</label>
			<div class="controls">
				<textarea class="span10" id="alamat_supplier" cols='15' rows='10' name="alamat_suppler">{$data.alamat_outlet|default:''}</textarea>
			</div>
		</div>		
		{include file="template/input_form.html" type='text' label="No. Telp" id="no_telp" name="no_telp" value="{$data.no_telp|default:''}" }
		<div class="control-group">
			<label class="control-label" for="form-field-1"></label>
			<div class="controls">
				{include file="template/button_save.html" id_simpan="simpan_{$main}" id_batal="batal_{$main}" }
			</div>
		</div>			
	</form>
</div>